body {
  font-family: Arial, sans-serif;
}

.search-container {
  margin: 20px;
}

#searchInput {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-list li {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.thumbnail {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.product-image {
  max-width: 100px;
  max-height: 100px;
  margin-right: 5px;
}
